<html>
<head>
    
</head>
<body>
    

<div class="box-content">
    <form class="form-horizontal" action="/teste/" enctype="multipart/form-data" method="POST">{% csrf_token %} 
        <fieldset>
            <legend></legend>
             {% if form.non_field_errors %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <ul>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <!-- <div class="alert alert-error">
                <ul class="errorlist"><p>* campos iobrigatorios</p></ul>
            </div>
             -->
            {% for field in form %}
            <div class="control-group">
                {% if field.errors  %}
                    <div class="alert alert-error">
                        {{field.errors}}
                    </div>
                {% endif %}
                <label class="control-label" for="{{field.auto_id}}">{{ field.label }}</label>
                <div class="controls">
                    {{ field }}
                    {% if field.html_name = 'foto' and foto_destaque %}
                        <img src="{{foto_destaque}}" class="dashboard-avatar">
                    {% endif %}
                    <p class="help-block">{{ field.help_text }}</p>
                </div>
            </div>
            {% endfor %}

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <button type="reset" class="btn">Cancel</button>
            </div>
        </fieldset>

    </form>

</div>
</body>
</html>