<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>mPurpose - Multipurpose Feature Rich Bootstrap Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/icomoon-social.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/static/css/leaflet.css" />
		<!--[if lte IE 8]>
		    <link rel="stylesheet" href="/static/css/leaflet.ie.css" />
		<![endif]-->
		<link rel="stylesheet" href="/static/css/main.css">

        <script src="/static/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        

        <!-- Navigation & Logo-->
        {% include 'menu.html' %}

        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>{{categoriaSelecionada}}</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="eshop-section section">
	    	<div class="container">
				<div class="row">
	        	{% for i in produtos %}
					<div class="col-md-3 col-sm-6">
						<!-- Product -->
						<div class="shop-item">
							<!-- Product Image -->
							<div class="shop-item-image">
								<a href="/detalhe_produto/?id={{i.id}}"><img src="{{i.get_imagem}}" alt="{{i.name}}" style="width: 264px;height: 168px;"></a>
							</div>
							<!-- Product Title -->
							<div class="title">
								<h3><a href="/detalhe_produto/?id={{i.id}}">{{i.nome}}</a></h3>
							</div>
							<!-- Product Available Colors-->
							<div class="colors">
								<span class="color-white"></span>
								<span class="color-black"></span>
								<span class="color-blue"></span>
								<span class="color-orange"></span>
								<span class="color-green"></span>
							</div>
							<!-- Product Price-->
							<div class="price">
								${{i.valor}}
							</div>
							<!-- Add to Cart Button -->
							<div class="actions">
								<a href="page-product-details.html" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i>Mais detalhes	</a>
							</div>
						</div>
						<!-- End Product -->
					</div>
    			{% endfor %}
    			</div>
				<div class="pagination-wrapper ">
					<ul class="pagination pagination-lg">
						<li class="disabled"><a href="#">Previous</a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li><a href="#">7</a></li>
						<li><a href="#">8</a></li>
						<li><a href="#">9</a></li>
						<li><a href="#">10</a></li>
						<li><a href="#">Next</a></li>
					</ul>
				</div>
			</div>
	    </div>
        
<!-- 

	    <div class="eshop-section section">
	    	<div class="container">
	    		<h2>Listing With No Colors Information</h2>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="shop-item">
							<div class="shop-item-image">
								<a href="page-product-details.html"><img src="/static/img/product1.jpg" alt="Item Name"></a>
							</div>
							<div class="title">
								<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
							</div>
							<div class="price">
								$999.99
							</div>
							<div class="actions">
								<a href="page-product-details.html" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Add</a> <span>or <a href="page-product-details.html">Read more</a></span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="shop-item">
							<div class="shop-item-image">
								<a href="page-product-details.html"><img src="/static/img/product2.jpg" alt="Item Name"></a>
							</div>
							<div class="title">
								<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
							</div>
							<div class="price">
								$999.99
							</div>
							<div class="actions">
								<a href="page-product-details.html" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Add</a> <span>or <a href="page-product-details.html">Read more</a></span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="shop-item">
							<div class="shop-item-image">
								<a href="page-product-details.html"><img src="/static/img/product3.jpg" alt="Item Name"></a>
							</div>
							<div class="title">
								<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
							</div>
							<div class="price">
								$999.99
							</div>
							<div class="actions">
								<a href="page-product-details.html" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Add</a> <span>or <a href="page-product-details.html">Read more</a></span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="shop-item">
							<div class="shop-item-image">
								<a href="page-product-details.html"><img src="/static/img/product4.jpg" alt="Item Name"></a>
							</div>
							<div class="title">
								<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
							</div>
							<div class="price">
								$999.99
							</div>
							<div class="actions">
								<a href="page-product-details.html" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Add</a> <span>or <a href="page-product-details.html">Read more</a></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="shop-item">
							<div class="shop-item-image">
								<a href="page-product-details.html"><img src="/static/img/product5.jpg" alt="Item Name"></a>
							</div>
							<div class="title">
								<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
							</div>
							<div class="price">
								$999.99
							</div>
							<div class="actions">
								<a href="page-product-details.html" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Add</a> <span>or <a href="page-product-details.html">Read more</a></span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="shop-item">
							<div class="shop-item-image">
								<a href="page-product-details.html"><img src="/static/img/product6.jpg" alt="Item Name"></a>
							</div>
							<div class="title">
								<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
							</div>
							<div class="price">
								$999.99
							</div>
							<div class="actions">
								<a href="page-product-details.html" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Add</a> <span>or <a href="page-product-details.html">Read more</a></span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="shop-item">
							<div class="shop-item-image">
								<a href="page-product-details.html"><img src="/static/img/product7.jpg" alt="Item Name"></a>
							</div>
							<div class="title">
								<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
							</div>
							<div class="price">
								$999.99
							</div>
							<div class="actions">
								<a href="page-product-details.html" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Add</a> <span>or <a href="page-product-details.html">Read more</a></span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="shop-item">
							<div class="shop-item-image">
								<a href="page-product-details.html"><img src="/static/img/product8.jpg" alt="Item Name"></a>
							</div>
							<div class="title">
								<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
							</div>
							<div class="price">
								$999.99
							</div>
							<div class="actions">
								<a href="page-product-details.html" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Add</a> <span>or <a href="page-product-details.html">Read more</a></span>
							</div>
						</div>
					</div>
				</div>
				<div class="pagination-wrapper ">
					<ul class="pagination pagination-lg">
						<li class="disabled"><a href="#">Previous</a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li><a href="#">7</a></li>
						<li><a href="#">8</a></li>
						<li><a href="#">9</a></li>
						<li><a href="#">10</a></li>
						<li><a href="#">Next</a></li>
					</ul>
				</div>
			</div>
	    </div> -->

	    <!-- Footer -->
	    {% include 'rodape.html' %}

        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
        <script src="/static/js/jquery.fitvids.js"></script>
        <script src="/static/js/jquery.sequence-min.js"></script>
        <script src="/static/js/jquery.bxslider.js"></script>
        <script src="/static/js/main-menu.js"></script>
        <script src="/static/js/template.js"></script>

    </body>
</html>