<!-- Products Slider Item -->
{% for p in produtos%}
	<div class="shop-item">
		<!-- Product Image -->
		<center><div class="image">
			<a href="/detalhe_produto/?id={{p.id}}"><img src="{{p.get_imagem}}" alt="{{p.nome}}" style="width: 264px;height: 168px;"></a>
		</div>
		<!-- Product Title -->
		<div class="title">
			<h3><a href="/detalhe_produto/">{{p.nome}}</a></h3>
		</div>
		<!-- Product Price -->
		<div class="price">
			{{p.valor}}
		</div>
		<!-- Buy Button -->
		<div class="actions">
			<a href="/detalhe_produto/" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Comprar</a>
		</div></center>
	</div>
	<!-- End Products Slider Item -->
{% endfor %}