<!-- Footer -->
	    <div class="footer">
	    	<div class="container">
		    	<div class="row">
		    		
		    		<div class="col-footer col-md-3 col-xs-6">
		    			<h3>Our Latest Work</h3>
		    			<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="/static/img/portfolio6.jpg" alt="Project Name"></a>
							</div>
						</div>
		    		</div>

		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Contacts</h3>
		    			<p class="contact-us-details">
		    				<b>Faça-nos uma visita e conheça nossa sede!</br>
	        				<b>Endereço:</b> Av. Higino Cunha, 615 - Ilhotas- Teresina - PI<br>
	        				<b>Phone:</b> 11 1111 1111<br/>
	        				<b>Fax:</b> 22 2222 2222<br/>
	        				<b>Email:</b> <a href="mailto:getintoutch@yourcompanydomain.com">grafica@180.com</a>
	        			</p>
		    		</div>
		    		
		    		<div class="col-footer col-md-2 col-xs-6">
		    			<h3>Stay Connected</h3>
		    			<ul class="footer-stay-connected no-list-style">
		    				<li><a href="#" class="facebook"></a></li>
		    				<li><a href="#" class="twitter"></a></li>
		    				<li><a href="#" class="googleplus"></a></li>
		    			</ul>
		    		</div>
		    		
		    	</div>
		    	<div class="row">
		    		<div class="col-md-12">
		    			<div class="footer-copyright">&copy; 2013 mPurpose. All rights reserved.</div>
		    		</div>
		    	</div>
		    </div>
	    </div>